/* test pages */

.content-wrap{
	background-color:white;
}
.duo-pink{
	border:solid 1px #fff;
	background-color:#FFA0C2;
}
.grey-box{
	border:solid 1px #d8d8d8;
}
.title{
	display:flex;
	flex-direction:row;
	align-items:center;
	height:48px;
	padding-top:0;
	padding-bottom:0;
}
.spacer{
	
}

.bg-grey{
	background-color:#d8d8d8;
}

.menu.ibm{
  background-color:white;
  border-bottom:solid 1px #BEBEBE;
  max-width:100%;
  width:100%;
}

.menu-inner{
	display:flex;
	align-items:center;
}

.menu .menu-item{
  backgorund-color:white;
  display:inline-block;
  margin-right:1em;
  width:auto;
}