/* Bleed */

.ibm-col-bleed {
  max-width: map-get(map-get($ibm-grid, $breakpoint-max), 'breakpoint');
  width: 100vw; 
}

@each $breakpoint, $values in $ibm-grid {
  
  @if map-get($values, 'margin') > 0 {

    @media (min-width:#{map-get($values, 'breakpoint')}) {

      $padding: get-padding($values, 1);
      .ibm-col-bleed {
        margin: 0 #{get-padding($values, -1 * map-get($values, 'margin'))};
        padding-left: calc( #{get-padding($values, 1)} * #{map-get($values, 'margin') * 2});
        padding-right: calc( #{get-padding($values, 1)} * #{map-get($values, 'margin') * 2});

        &.ibm-col-group{
          padding-left: calc( #{get-padding($values, 1)} );
          padding-right: calc( #{get-padding($values, 1)} );
        }

        & > .ibm-col-group,
        & > .ibm-col-padding-horizontal {
          padding-left: calc( #{get-padding($values, 1)} * 2);
          padding-right: calc( #{get-padding($values, 1)} * 2);
        }
      }

      .ibm-col-bleed-left{
        margin-left: #{get-padding($values, -1)};
        padding-left: calc( #{get-padding($values, 1)} * 2);

        &.ibm-col-group{
          padding-left: calc( #{get-padding($values, 1)});
        }
      }

      .ibm-col-bleed-right{
        margin-right: #{get-padding($values, -1)};
        padding-right: calc( #{get-padding($values, 1)} * 2);

        &.ibm-col-group{
          padding-right: calc( #{get-padding($values, 1)});
        }
      }
    }
  }
}