// Breakpoints

$breakpoint-min: 'sm';
$breakpoint-max:'max';

$ibm-grid-breakpoints: (
  "sm": (
    breakpoint: 0px,
    min-width:320px,
    columns: 4,
    heights: 32,
    margin: 0,
    padding:16px,
  ),
  "sm2": (
    breakpoint: 512px,
    columns: 4,
    heights: 32,
    margin: 0,
    padding:16px,
  ),
  "sm3": (
    breakpoint: 640px,
    columns: 4,
    heights: 32,
    margin: 0,
    padding:16px,
  ),
  "md": (
    breakpoint: 768px,
    columns: 8,
    heights: 32,
    margin: 0,
    padding:24px,
  ),
  "md2": (
    breakpoint: 896px,
    columns: 8,
    heights: 33,
    margin: 0,
    padding:24px,
  ),
  "lg": (
    breakpoint: 1056px,
    columns: 16,
    heights: 33,
    margin: 1,
    padding:16px,
  ),
  "lg2": (
    breakpoint: 1184px,
    columns: 16,
    heights: 33,
    margin: 1,
    padding:16px,
  ),
  "xlg": (
    breakpoint: 1312px,
    columns: 16,
    heights: 33,
    margin: 1,
    padding:16px,
  ),
  "xlg2": (
    breakpoint: 1456px,
    columns: 16,
    heights: 33,
    margin: 1,
    padding:16px,
  ),
  "max": (
    breakpoint: 1584px,
    columns: 16,
    heights:33,
    margin: 1,
    padding:24px,
    fixed-padding:true,
  )
);

// let's build $ibm-grid based on config and breakpoints, which is used by the rest of the code

// let's build a next map
$prev-breakpoint:null;
$next-map:();
@each $breakpoint in $breakpoints-config {
  
  @if $prev-breakpoint != null {
    $new-entry:(
      #{$prev-breakpoint}: $breakpoint
    );
    $next-map: map-merge($next-map, $new-entry);
  }
  $prev-breakpoint:$breakpoint;
}

$ibm-grid:();
@each $breakpoint in $breakpoints-config {
  $new-map:(
    next:map-get($next-map, $breakpoint)
  );
	$new-entry:(
		#{$breakpoint}: map-merge(map-get($ibm-grid-breakpoints, $breakpoint), $new-map)
	);
	$ibm-grid:map-merge($ibm-grid, $new-entry);
}
