$breakpoint-min: 'sm';
$breakpoint-max:'max';

$ibm-grid: (
  "sm": (
    breakpoint: 0px,
    min-width:320px,
    columns: 4,
    heights: 32,
    margin: 0,
    next: "md",
    padding:16px,
  ),
  "md": (
    breakpoint: 768px,
    columns: 8,
    heights: 32,
    margin: 0,
    next: "lg",
    padding:24px,
  ),
  "lg": (
    breakpoint: 1056px,
    columns: 16,
    heights: 33,
    margin: 1,
    next: "xlg",
    padding:16px,
  ),
  "xlg": (
    breakpoint: 1312px,
    columns: 16,
    heights: 33,
    margin: 1,
    next: "max",
    padding:16px,
  ),
  "max": (
    breakpoint: 1584px,
    columns: 16,
    heights:33,
    margin: 1,
    padding:24px,
    fixed-padding:true,
  )
);