$breakpoint-min: 'sm';
$breakpoint-max:'max';

$ibm-grid: (
  "sm": (
    breakpoint: 0px,
    min-width:320px,
    columns: 4,
    heights: 32,
    margin: 0,
    next: "lsm",
    padding:16px,
  ),
  "lsm": (
    breakpoint: 512px,
    columns: 8,
    heights: 32,
    margin: 0,
    next: "smd",
    padding:24px,
  ),
  "smd": (
    breakpoint: 640px,
    columns: 8,
    heights: 32,
    margin: 0,
    next: "md",
    padding:24px,
  ),
  "md": (
    breakpoint: 768px,
    columns: 8,
    heights: 32,
    margin: 0,
    next: "lmd",
    padding:24px,
  ),
  "lmd": (
    breakpoint: 896px,
    columns: 8,
    heights: 33,
    margin: 0,
    next: "lg",
    padding:24px,
  ),
  "lg": (
    breakpoint: 1056px,
    columns: 16,
    heights: 33,
    margin: 1,
    next: "lg2",
    padding:16px,
  ),
  "lg2": (
    breakpoint: 1184px,
    columns: 16,
    heights: 33,
    margin: 1,
    next: "xlg",
    padding:16px,
  ),
  "xlg": (
    breakpoint: 1312px,
    columns: 16,
    heights: 33,
    margin: 1,
    next: "xlg2",
    padding:16px,
  ),
  "xlg2": (
    breakpoint: 1456px,
    columns: 16,
    heights: 33,
    margin: 1,
    next: "max",
    padding:24px,
  ),
  "max": (
    breakpoint: 1584px,
    columns: 16,
    heights:33,
    margin: 1,
    padding:24px,
    fixed-padding:true,
  )
);