// Dependent on _core.scss from @ibm/grid

@each $breakpoint, $values in $ibm-grid {
  @if map-get($values, columns) != null {
    @if map-get($values, breakpoint) != 0px {
      @media (min-width: map-get($values, breakpoint)) {
        .ibm-height-#{$breakpoint}-0 {
          min-height: unset;
        }

        $a: 1;
        @while $a <= map-get($values, heights) {
          .ibm-height-#{$breakpoint}-#{$a} {
              min-height: map-get($values, unit) * $a;
          }
          $a: $a + 1;
        }
      }
    } @else {
      $a: 1;
      @while $a <= map-get($values, heights) {
        .ibm-height-#{$breakpoint}-#{$a} {
          min-height: map-get($values, unit) * $a;
        }
        $a: $a + 1;
      }
    }

    @if map-get($ibm-grid, map-get($values, next)) {
      @media (min-width: map-get(map-get($ibm-grid, map-get($values, next)), breakpoint)) {
        $a: 1;
        @while $a <= map-get($values, heights) {
          .ibm-height-#{$breakpoint}-#{$a} {
            min-height: map-get(map-get($ibm-grid, map-get($values, next)), unit) * $a;
          }
          $a: $a + 1;
        }
      }

      @if map-get(map-get($ibm-grid, map-get($values, next)), next) {
        @media (min-width: map-get(map-get($ibm-grid, map-get(map-get($ibm-grid, map-get($values, next)), next)), breakpoint)) {
          $a: 1;
          @while $a <= map-get($values, heights) {
            .ibm-height-#{$breakpoint}-#{$a} {
              min-height: map-get(map-get($ibm-grid, map-get(map-get($ibm-grid, map-get($values, next)), next)), unit) * $a;
            }
            $a: $a + 1;
          }
        }
      }
    }


    @media (min-width: map-get(map-get($ibm-grid, max), breakpoint)) {
      $a: 1;
      @while $a <= map-get($values, heights) {
        .ibm-height-#{$breakpoint}-#{$a} {
          min-height: map-get(map-get($ibm-grid, max), unit) * $a;
        }
        $a: $a + 1;
      }
    }
  }
}
