// Dependent on _core.scss from @ibm/grid

$height-scales:(
  16, 24, 36, 48, 64, 96, 128, 192, 256, 384, 512, 768
);

@each $breakpoint, $values in $ibm-grid {
  @if $breakpoint != 'max' {
    @media (min-width:map-get($values, 'breakpoint')) {
      @each $height in $height-scales{
        .ibm-height-#{$breakpoint}-#{$height} {
          min-height: #{$height}px;
        }
      }
    }
  }
}

.ibm-height-strict {
  max-height: 0;
}